body {
  background-image: url("./img/table.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  font-family: 'Pirata One', cursive;
}

#backside {
  height: 10em;
  margin-top: 10em;
}

.container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
}

h3 {
  padding: 0.3em;
  color: transparent;
  background-color: #000000d2;
  background-clip: text;
  text-shadow: 0px 5px 2px #7943246e;
  font-size: 50px;
  /*text-shadow: 1px 1px rgba(39, 22, 3, 0.959), -1px -1px rgba(12, 12, 12, 0.795);*/
  /*text-shadow: inset 0 0 10px black;*/
  border-radius: 15px;
}

.buttonGroup {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: fit-content;
  /*background-color: rgba(56, 28, 9, 0.808);*/
  background-image: url("./img/banner.jpg");
  box-shadow: 1px 4px 20px 10px black;
  border-radius: 10px;
}

#startBtn, #stopBtn, #drawBtn{
  font-size: 60px;
  background: -webkit-linear-gradient(rgb(255, 166, 0), rgb(161, 0, 0));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

button {
  height: fit-content;
}

.hands {
  display: flex;
  flex-direction: column;
  width: inherit;
}

#dealerHand {
  height: 10em;
  width: max-content;
}

img {
  border-radius: 12px;
  box-shadow: 3px 5px 10px 0px black;
  margin-left: 15px;
}

#playerHand {
  width: auto;
  height: 15em;
}

.card-API-img {
  width: auto;
  height: 10em;
}
/*#currCard {
  margin: 5em 0em 5em 0em;
  padding: 0.3em;
  min-width: 226px;
  min-height: 314px;
  
}*/