body {
  background-image: url("./img/table.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  font-family: 'Pirata One', cursive;
}

.container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 60em;
  margin-left: 23em;
}

h3 {
  padding: 0.3em;
  color: transparent;
  background-color: #000000d2;
  background-clip: text;
  text-shadow: 0px 5px 2px #7943246e;
  font-size: 50px;
  border-radius: 15px;
  text-align: center;
}

h1 {
  padding: 0.3em;
  color: transparent;
  background-color: #f06e18d2;
  background-clip: text;
  text-shadow: 0px 5px 2px #7943246e;
  font-size: 50px;
  border-radius: 15px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.buttonGroup {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: fit-content;
  width: 30em;
  margin: auto;
  background-image: url("./img/banner.jpg");
  box-shadow: 1px 4px 20px 10px black;
  border-radius: 10px;
  margin-bottom: 10px;
}

#startBtn, #stopBtn, #drawBtn, #tokenBtn {
  font-size: 50px;
  background: -webkit-linear-gradient(rgb(255, 166, 0), rgb(161, 0, 0));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

button {
  height: fit-content;
}

button:hover {
  transform: scale(1.1);
}

.hands {
  display: flex;
  flex-direction: column;
  width: inherit;
}

#dealerHand {
  height: 10em;
  width: max-content;
  align-items: center;
}

img {
  border-radius: 12px;
  box-shadow: 3px 5px 10px 0px black;
  margin-left: 15px;
}

#playerHand {
  height: 15em;
  width: auto;
  align-items: center;
}

.card-API-img {
  width: auto;
  height: 10em;
}

/* #backside = header image */
#backside{
  height: 20%;
  width: 30%;
  border-radius: none;
  box-shadow: none;
  margin-top: 20px;
  background-position: top center;
  margin: auto;
}


/* Everything regarding tokens below */

/* .token = main div */
.token{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  height: 13%;
}

/* .tokenClass = content of main div*/
.tokenClass{
  display: flex;
  flex-direction: row;
  margin-right: none;

  /* Testade med kartbakgrund för läsbarhet 

  background-image: url("./img/banner.jpg"); */
}

/* .tokenClass > #token = token image*/
.tokenClass > #token{
  border-radius: none;
  box-shadow: none;
  height: 70%;
  width: 10%;
}

.tokenClass > p {
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  body {
    background-image: url("./img/table.jpg");
    background-repeat: repeat;
  }
  
  .container {
    margin-left: 0;
  }

  #dealerHand {
    margin-left: 8em;
  }

  #playerHand {
    margin-left: 8em;
  }

  .tokenClass > h1 {
    color: transparent;
    background-color: #f06e18d2;
    background-clip: text;
    text-shadow: 0px 5px 2px #7943246e;
    border-radius: 15px;
  }

  .tokenClass > p{
    padding-bottom: 0.3em;
    color: transparent;
    background-color: #f5ceb4d2;
    background-clip: text;
    font-size: 50px;
    text-shadow: 0px 5px 2px #30190c83;
    border-radius: 15px;
  }
}

@media screen and (min-width: 480px) {
  
  body {
    background-image: url("./img/table.jpg");
    background-repeat: repeat;
  }
  
  .container {
    margin: 0;
  }

  #backside{
    height: 30%;
    width: 30%;
  }

  #dealerHand {
    margin-left: 8em;
  }

  #playerHand {
    margin-left: 8em;
  }

  .tokenClass > h1 {
    color: transparent;
    background-color: #f06e18d2;
    background-clip: text;
    text-shadow: 0px 5px 2px #7943246e;
    border-radius: 15px;
  }

  .tokenClass > p {
    padding-bottom: 0.3em;
    color: transparent;
    background-color: #f5ceb4d2;
    background-clip: text;
    font-size: 50px;
    text-shadow: 0px 5px 2px #30190c83;
    border-radius: 15px;
  }
}

@media screen and (min-width: 750px) {
  .container {
    margin: auto;
  }

  #dealerHand {
    margin-left: 0em;
  }

  #playerHand {
    margin-left: 0em;
  }

  .tokenClass > h1 {
    color: transparent;
    background-color: #f06e18d2;
    background-clip: text;
    text-shadow: 0px 5px 2px #7943246e;
    border-radius: 15px;
  }

  .tokenClass > p {
    padding-bottom: 0.3em;
    color: transparent;
    background-color: #f5ceb4d2;
    background-clip: text;
    font-size: 50px;
    text-shadow: 0px 5px 2px #30190c83;
    border-radius: 15px;
  }
}