body {
  background-image: url("table.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100em;
  width: 150em;
}

h3 {
  padding: 0.3em;
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
  text-shadow: 3px 3px #000000;
  border-radius: 15px;
}

.buttonGroup {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 7em;
  background-color: rgba(0, 0, 0, 0.774);
  border-radius: 10px;
  box-shadow: 3px 5px 10px 0px black;
}

button {
  margin-top: 0.4em;
  height: 4em;
  width: 9em;
}

.App-header {
  display: flex;
  flex-direction: column;
  width: inherit;
}

#dealerHand {
  height: 20em;
  width: max-content;
}

#playerHand {
  width: auto;
  height: 30em;
}

#currCard {
  margin: 5em 0em 5em 0em;
  padding: 0.3em;
  min-width: 226px;
  min-height: 314px;
  border: solid rgb(194, 181, 0);
  border-radius: 10px;
}